
<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<h3>Categories:</h3>
<ul>
<% @post.categories.each do |category| %>
    <li><%= category.name %></li>
<% end %>
</ul>

<h3>Commentors:</h3>
<ul>
<% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %></li>
<% end %>
</ul>


<h3>Comments:</h3>
<ul>
    <% @post.comments.each do |comment| %>
        <li><%= comment.user.username %> says: <%= comment.content %></li>
    <% end %>
</ul>

<h4>New Comment:</h4>
<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>

    <%= f.label "Select User" %>
    <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: true} %><br>
    
    <%= f.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :username, "Username" %>
        <%= user_fields.text_field :username %>
    <% end %><br>

    <%= f.label :content, "New Comment" %>
    <%= f.text_area :content %><br><br>

    <%= f.submit %>
<% end %>